{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  .row{
    background-color: rgb(136, 245, 136);
  }
  .col-md-6{
    background-color: lightgrey;
    
    border: 15px solid green;
    
  }
    
  </style>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Actividades de {{ course }} </h1>
</div>
{% for homework in result %}
  {% if homework.status == 'No entregado' %}
    <div class="card">
        <h5 class="card-header">{{ homework.homework }} </h5>
            <div class="card-body">
                <h6 class="card-title">Status: {{ homework.status }}   Fecha Limite: {{ homework.limit_date }}</h6>

                    <p class= "card-text">
                    {{ homework.description }}
                    </p>
                  <p class= "card-text">
                    Profesor: {{ homework.teacher }}
                  </p>

                  <a href="{{ url_for('upload', homework_id=homework.id, enrollment_id=enrollment_id) }}">
                    <span class="btn btn-primary">Enviar Actividad</span>
                  </a>
  {% else %}


  <div class="card">
    <h5 class="card-header">{{ homework.homework }} </h5>
        <div class="card-body">
            <h6 class="card-title">Status: {{ homework.status }} Fecha Envio: {{ homework.date_sent }}</h6>

                <p class= "card-text">
                {{ homework.description }}
                </p>
              <p class= "card-text">
                Profesor: {{ homework.teacher }}
              </p>
              <p class= "card-text">
                Comentarios Estudiante: {{ homework.student_comment }}
              </p>
              <a href="{{ url_for('download_file', homework_id=homework.id)}}">
                <span class="btn btn-primary">Archivo Subido</span>
              </a>

            </div>
        
    </div>
    <br/>
    {% endif %}
    {% endfor %}
{% endblock %}
