{% extends "base.html" %}


{% block page_content %}

<div class="page-header">
  <h1>Actividades </h1>
</div>
<br/>

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha Límite</th>
        <th>Status</th>
        <th>Profesor</th>
        <th>Fecha de Entrega</th>
        <th>Comentarios</th>
        <th>Nota</th>
        <th>Archivo</th>
      </tr>
    </thead>
    <tbody>
      {% for homework in result %}
        <tr>
          <td>{{ homework.homework }}</td>
          <td>{{ homework.description }}</td>
          <td>{{ homework.limit_date }}</td>
          <td>{{ homework.status }}</td>
          <td>{{ homework.teacher_name }} {{ homework.teacher_last_name }}</td>
          <td>{{ homework.date_sent }}</td>
          <td>{{ homework.student_comment }}</td>
          <td>{{ homework.grade}}</td>
          <td>{{ homework.file_url}} {% if homework.file_url %}
            <a href="{{ url_for('download_file', homework_id=homework.id)}}">
              <span class="btn btn-dark btn-sm">Descargar</span>
            </a>{% endif %}
            {% if homework.status != "Entregado y Calificado" %}
            <a href="{{ url_for('upload', homework_id=homework.id, enrollment_id=enrollment_id) }}">
              <span class="btn btn-warning btn-sm">Enviar</span>
            </a>
            {% endif %}
            </td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('#data').DataTable({
      "language":
      {
        "search": "Buscar:",
        "lengthMenu":     "Mostrar _MENU_ entradas",
        "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
        "paginate": {
          "first":      "Primero",
          "last":       "Ultimo",
          "next":       "Siguiente",
          "previous":   "Anterior"
      },
      }
    })
  });
</script>
{% endblock %}
