{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  .row{
    background-color: rgb(136, 245, 136);
  }
  .col-md-6{
    background-color: lightgrey;
    
    border: 15px solid green;
    
  }
    
  </style>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Actividades de {{ course }}</h1>
</div>
{% for homework in result %}
  {% if homework.status == 'No entregado' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
                        {{ homework.homework }}
                    </h2> 
                    <p>
                    {{ homework.description }}
                    </p>
                  <p>
                    Profesor:{{ homework.teacher }}
                  </p>
                  <p>
                    Status:{{ homework.status }}
                  </p>
                  
                </div>
            </div>
        </div>
    </div>
    <br/>
    {% endif %}
    {% endfor %}
{% endblock %}
