{% extends "base.html" %}
{% from "_macros.html" import render_modal_asign with context %}
{% from "_macros.html" import render_field with context %}



{% block page_content %}
<div class="page-header">
    <h1>Asignaturas</h1>
    <br/>
    <!-- genera un container por aca item en el diccionario -->

    {% for student in result %}
    <div class="card">
        <h5 class="card-header">{{ student.course }} {{ student.course_code }}</h5>
            <div class="card-body">
                <h6 class="card-title">Profesor: {{ student.teacher_name }}  {{ student.teacher_last_name }}</h6>
                <p class= "card-text">
                    {{ student.course_about }}
                  </p>
                <a href="{{ url_for('activities', enrollment_id=student.enrollment) }}">
                    <span class="btn btn-warning">Actividades</span>
                </a>

            </div>
        
    </div>
    <br/>

    {% endfor %}
{% endblock %}
