{% extends "base.html" %}
{% from "_macros.html" import render_modal_asign with context %}
{% from "_macros.html" import render_field with context %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  .col-md-12{
    background-color: rgb(136, 245, 136);
  }
    
  </style>
{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1>Asignaturas</h1>
    <br/>
    <!-- genera un container por aca item en el diccionario -->

    {% for student in result %}
    <div class="card">
        <h5 class="card-header">{{ student.course }}</h5>
            <div class="card-body">
                <h6 class="card-title">Profesor: {{ student.teacher }} </h6>
                <a href="{{ url_for('activities', enrollment_id=student.enrollment) }}">
                    <span class="btn btn-primary">Activities</span>
                </a>
            </div>
        
    </div>
    <br/>

    {% endfor %}
{% endblock %}
