{% extends "base.html" %}
{% from "_macros.html" import render_modal_asign with context %}
{% from "_macros.html" import render_field with context %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  .col-md-12{
    background-color: rgb(136, 245, 136);
  }
    
  </style>
{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1>Asignaturas</h1>
    <br/>
    <!-- genera un container por aca item en el diccionario -->

    {% for k,v in cursos.items() %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
                        {{ v }}
                    </h2>
                    <p>
                        {{ k }}
                    </p>
                    <p>
                        <!-- llama al macro y genera los modal de cada item del diccionario -->

                        {{ render_modal_asign(k,v,form,form.nombre,form.codigo) }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    {% endfor %}
{% endblock %}
