{% extends "base.html" %}


{% block page_content %}
<div class="page-header">
    <h1>Editar Perfil</h1>
</div>

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Registro</div>
                    <div class="card-body">
                        <!-- llama al macro para generar los fields del form registro -->

                        <form action="" method="POST">
                            {{ form.hidden_tag() }}
                            {{ render_field(form.name) }}
                            {{ render_field(form.last_name) }}
                            {{ render_field(form.cc) }}
                            {{ render_field(form.age) }}
                            {{ render_field(form.email) }}
                            {{ render_field(form.username) }}
                            {{ render_field(form.password) }}
                            {{ render_field(form.password_new) }}
                            {{ render_field(form.password2_new) }}
                            <div class="col-md-6 offset-md-4">
                                <!-- llamando boton submit del form  -->

                                {{ form.submit(class="btn btn-primary")}}
                                <a href="#" class="btn btn-link">
                                    ¿Olvidó su contraseña?
                                </a>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>

{% endblock %}
