{% extends "base.html" %}


{% block page_content %}
<div class="page-header">
    <h1>Actividades </h1> 
    <br/>
    <a href="{{ url_for('teacher_create_activity', teacher_id=teacher_id, course_id=course_id) }}">
      <span class="btn btn-warning">Crear Actividad</span></a>
</div>
<br/>

    <table id="data" class="table table-striped">
      <thead>
        <tr>
          <th>Título</th>
          <th>Descripción</th>
          <th>Fecha Límite</th>
          <th>Status</th>
          <th>Nombre</th>
          <th>Fecha de Entrega</th>
          <th>Comentarios</th>
          <th>Nota</th>
          <th>Archivo</th>
        </tr>
      </thead>
      <tbody>
        {% for r in result %}
          <tr>
            <td>{{ r.homework_title }}</td>
            <td>{{ r.homework_description }}</td>
            <td>{{ r.homework_limit_date }}</td>
            <td>{{ r.homework_status }}</td>
            <td>{{ r.students_name }} {{ r.students_last_name }}</td>
            <td>{{ r.homework_date_sent }}</td>
            <td>{{ r.homework_student_comment }}</td>
            <td>{{ r.homework_grade}}</td>
            <td>{{ r.homework_file_url}} {% if r.homework_file_url %}
              <a href="{{ url_for('download_file', homework_id=r.homework_id)}}">
                <span class="btn btn-dark btn-sm">Descargar</span>
              </a>
              <a href="{{ url_for('teacher_grade', teacher_id=teacher_id, course_id=course_id, homework_id=r.homework_id) }}">
                <span class="btn btn-warning btn-sm">Calificar</span>
              </a>
              {% endif %}</td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        "language":
        {
          "search": "Buscar:",
          "lengthMenu":     "Mostrar _MENU_ entradas",
          "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
          "paginate": {
            "first":      "Primero",
            "last":       "Ultimo",
            "next":       "Siguiente",
            "previous":   "Anterior"
        },
        }
      })
    });
  </script>
{% endblock %}
